<ion-view>
    <ion-header-bar class="bar-balanced">
        <h1 class="title">更多应用</h1>
    </ion-header-bar>
    <ion-content scroll="false">
        <div class="wraps">
            <div style="border-right: 1px solid #1ab394;border-bottom: 1px solid #1ab394;"
                 ng-click="doGo('#/main/project')">
                <div class="balanced">
                    <div class="icon ion-ios-pie-outline" style="font-size: 42px;"></div>
                    项目管理
                </div>
            </div>
            <div style="border-bottom: 1px solid #1ab394;"
                 ng-click="doGo('#/report')">
                <div class="balanced">
                    <div class="icon ion-ios-list-outline" style="font-size: 42px;"></div>
                    报表中心
                </div>
            </div>
            <div style="border-left: 1px solid #1ab394;border-bottom: 1px solid #1ab394;"
                 ng-click="doGo('#/archive')">
                <div class="balanced">
                    <div class="icon ion-ios-folder-outline" style="font-size: 42px;"></div>
                    知识文档
                </div>
            </div>
            <div style="border-right: 1px solid #1ab394;border-bottom: 1px solid #1ab394;"
                 ng-click="doGo('#/main/attendance')">
                <div class="balanced">
                    <div class="icon ion-ios-time-outline" style="font-size: 42px;"></div>
                    考勤记录
                </div>
            </div>
            <div style="border-bottom: 1px solid #1ab394;"
                 ng-click="doGo('#/main/favorite')">
                <div class="balanced">
                    <div class="icon ion-ios-heart-outline" style="font-size: 42px;"></div>
                    收藏夹
                </div>
            </div>
            <div style="border-left: 1px solid #1ab394;border-bottom: 1px solid #1ab394;"
                 ng-click="doGo('#/main/setting')">
                <div class="balanced">
                    <div class="icon ion-ios-cog-outline" style="font-size: 42px;"></div>
                    个人设置
                </div>
            </div>
            <div style="border-right: 1px solid #1ab394;"
                 ng-click="doGo('#/main/version')">
                <div class="balanced">
                    <div class="icon ion-ios-information-outline" style="font-size: 42px;"></div>
                    版本信息
                </div>
            </div>
            <div style="width: 33%; padding-bottom: 33%;">
                <div class="balanced"
                     ng-click="doGo('#/main/company')">
                    <div class="icon ion-ios-people-outline" style="font-size: 42px;"></div>
                    公司信息
                </div>
            </div>
            <div style="border-left: 1px solid #1ab394;"
                 ng-click="doGo('#/main/help')">
                <div class="balanced">
                    <div class="icon ion-ios-help-outline" style="font-size: 42px;"></div>
                    帮助
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>