<ion-modal-view>
    <ion-header-bar class="bar-balanced">
        <h1 class="title">表单域</h1>
        <button class="button  button-icon icon ion-ios-close-empty" ng-click="close()"></button>
    </ion-header-bar>
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="search" placeholder="在此输入搜索内容">
        </label>
    </div>
    <ion-content class="has-subheader">
        <div class="list">
        	<!--<div>{{list}}</div>-->
        	<!--<div>{{display}}</div>-->
            <div ng-repeat="item in list|sqlQuery:search:sqlFilter">
            	<!--<div>{{item}}</div>-->
            	<!--<div>{{display}}</div>-->
                <div class="item item-icon-right" ng-click="doSelect(item)">
                    <p ng-repeat="d in display">{{d.name}} {{item[d.sqlKey]}}</p>
                    <i class="icon ion-checkmark-circled balanced" ng-if="item.flagSelected"></i>
                </div>
            </div>
        </div>
        <ion-infinite-scroll
                ng-if="flagMore"
                on-infinite="doPager()"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar class="item-input-inset bar-balanced" ng-click="doConfirm()">
        <i class="title icon ion-android-done"></i>
    </ion-footer-bar>
</ion-modal-view>