<!--<ion-tabs class="tabs-light tabs-icon-top tabs-color-balanced">-->
<!---->
<!--    <ion-tab title="最新" ui-sref="main.home" icon-on="ion-ios-bookmarks" icon-off="ion-ios-bookmarks-outline">-->
<!--    </ion-tab>-->
<!---->
<!--    <ion-tab title="邮件" ui-sref="main.topic" icon-on="ion-ios-email" icon-off="ion-ios-email-outline">-->
<!--    </ion-tab>-->
<!---->
<!--    <ion-tab title="流程" ui-sref="main.workflow({flagHandle:1})" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline">-->
<!--    </ion-tab>-->
<!---->
<!--    <ion-tab ng-if="config=='sate'" title="CRM" ui-sref="main.crm.handle" icon-on="ion-ios-briefcase" icon-off="ion-ios-briefcase-outline">-->
<!--        <ion-nav-view name="CrmView"></ion-nav-view>-->
<!--    </ion-tab>-->
<!--    <ion-tab ng-if="config!='sate'" title="任务" ui-sref="main.task" icon-on="ion-ios-briefcase" icon-off="ion-ios-briefcase-outline">-->
<!--    </ion-tab>-->
<!---->
<!--    <ion-tab ng-if="true" title="更多" ui-sref="main.app" icon-on="ion-ios-grid-view" icon-off="ion-ios-grid-view-outline">-->
<!--    </ion-tab>-->
<!---->
<!--</ion-tabs>-->
<ion-nav-view name="dashView"></ion-nav-view>
<ion-nav-view name="topicView"></ion-nav-view>
<ion-nav-view name="WorkflowView"></ion-nav-view>
<ion-nav-view name="TaskView"></ion-nav-view>
<ion-nav-view name="AppView"></ion-nav-view>
