<ion-view>
    <ion-header-bar class="bar-positive">
        <a class="button button-icon icon ion-ios-arrow-left"
           ng-click="back()"></a>
        <h1 class="title">日志</h1>
    </ion-header-bar>
    <ion-content style="color:#444;background-color: #f2f2f2;">
        <div ng-if="logsCount">
            <div class="row" style="text-align: center;padding: 0;">
                <div class="col">字段</div>
                <div class="col">早期值</div>
                <div class="col">现值</div>
                <div class="col">操作人</div>
                <div class="col">操作时间</div>
            </div>
            <div class="row" ng-repeat="item in logsList" style="text-align: center;padding: 0;margin-top: 0;">
                <div class="col">{{item.field}}</div>
                <div class="col">{{item.oldValue}}</div>
                <div class="col">{{item.newValue}}</div>
                <div class="col">{{item.modifyName}}</div>
                <div class="col">{{item.modifyDate|date:'yyyy-MM-dd HH:mm:ss'}}</div>
            </div>
        </div>
        <div ng-if="!logsCount" style="font-size: 16px;text-align: center;margin-top: 40%;">暂无数据</div>
        <ion-infinite-scroll ng-if="flagMore" on-infinite="loadMore()" distance="3%"></ion-infinite-scroll>
    </ion-content>
</ion-view>