<ion-modal-view ng-controller="catsModsCtrl">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">发起工作流</h1>
        <button class="button button-icon icon ion-ios-close-empty" ng-click="close()"></button>
    </ion-header-bar>
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="query" placeholder="在此输入搜索内容">
        </label>
    </div>
    <ion-content class="has-subheader">
        <div class="list" ng-if="query">
            <a class="item item-icon-right"
               ng-click="go('proForm',{modId:subItem.id,proId:0})"
                 ng-repeat="subItem in catsMap.all|workMap:query">
                <h2><span ng-bind="subItem.name"></span></h2>
                <i class="icon icon-accessory ion-chevron-right"></i>
            </a>
        </div>
        <div class="list" ng-if="!query">
            <div ng-repeat="item in cats">
                <div class="item item-icon-right gray-bg item-cat"
                     ng-click="cat(item)">
                    <h2><span ng-bind="item.name"></span></h2>
                    <i class="icon icon-accessory ion-chevron-{{curCat==item?'up':'down'}}"
                       style="color:#1ab394"></i>
                </div>
                <a ng-if="curCat==item" class="item item-icon-right"
                     ng-click="go('proForm',{modId:subItem.id,proId:0})"
                     ng-repeat="subItem in catsMap[item.id]|orderBy:'priority'">
                    <h2><span ng-bind="subItem.name"></span></h2>
                    <i class="icon icon-accessory ion-chevron-right"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-modal-view>